<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Cars</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets">
    </head>
    <body>
        <header>
            <a href="/cars">Cars</a>
            <a href="/cats">Cats</a>
            <a href="cars/new">Add a Car</a>
        </header>
        <h1>Hello</h1>
        <div class="pic">
            <img src="/images/cars/car1.jpg">
        </div>
        <div class="pic">
            <img src="/images/cars/car2.jpg">
        </div>
    </body>
</html>
