
<div class="container">
    <div class="jumbotron">
        <button class="btn btn-primary" (click)="play()">Play!</button>
        <h4>Click the button above to start the trivia game.</h4>

    </div>
    <div class="results">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Score</th>
                    <th>Percentage</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>$NAME</td>
                    <td>$$$/3</td>
                    <td>%%%%%</td>
                </tr>
            </tbody>
        </table>

    </div>

</div>
