img {
    display: inline-block;
    max-width: 200px;
    max-height: 200px;
}

.container {
    max-width: 60%;
    display: inline-block;
}

.dex {
    display: inline-block;
    max-width: 20%;
    min-height: 100px;
    border: 20px solid red;
    vertical-align: top;
    padding: 20px;
}
